* {
  margin: 0px;
  padding: 0px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: space-between;
  background-color: rgb(49, 47, 47);
}
header img {
  width: 150px;
}
h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
}
body {
  background-color: #ffebcdbe;
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: initial;
}
h2 {
  text-transform: uppercase;
  margin: 30px 5px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(75, 70, 70);
}
h3 {
  text-transform: uppercase;
  margin: 30px 5px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(75, 70, 70);
}
label {
  color: seagreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section {
  padding: 40px;
  background-color: grey;
}
section ul {
  text-transform: uppercase;
  margin: 30px 5px;
  list-style-type: initial;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
}
.imagenPrincipal {
  background-image: url(../assets/img/MARTILLO.jpg);
  height: 800px;
  background-image: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.datosContacto {
  text-transform: initial;
  margin: 30px 5px;
  list-style-type: initial;
  text-align: inherit;
  color: beige;
}
.clientesPrincipales {
  text-transform: initial;
  margin: 30px 5px;
  list-style-type: initial;
  text-align: inherit;
  color: beige
}
.areasDePractica {
  text-transform: initial;
  margin: 30px 5px;
  list-style-type: initial;
  text-align: inherit;
  color: beige
}
.integrantesEstudio {
  text-transform: initial;
  margin: 30px 5px;
  list-style-type: initial;
  text-align: inherit;
  color: beige
}
.parrafoGeneral {
  text-transform: initial;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  text-align: left;
}
.legend {
  color: black;
  font-size: 27px;
  padding: 10px;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.bigicon {
  font-size: 35px;
  color: #36A0FF;
}
footer {
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer img {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: initial;
}
i {
  color: rgb(221, 221, 37);
  margin: 0.2rem;
  font-size: 2rem;
}
