.footer {
  background-color: rgb(49, 47, 47);
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: space-around;

 .footer__datos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
 }
  .footer__redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: inherit;
  }
  .footer__logo {
    width: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
  @media only screen and (max-width: 550px){
    .footer__logo {
    display: none;
  }
  }
  .footer__copy {
    font-family: "Times New Roman", Times, serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1rem;
  }
  .datos__contacto {
    text-transform: initial;
    margin: 30px 5px;
    list-style-type: initial;
    text-align: inherit;
    color: whitesmoke;
  }
  .footer__imagen {
    width: 3rem;
  }
  .footer i {
    color: coral;
    margin: 0.2rem;
    font-size: 2rem;
  }
 }