.legend {
    color: black;
    font-size: 27px;
    padding: 10px;
    text-transform: $mayúscula;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .bigicon {
    font-size: 35px;
    color: #36A0FF;
  }