$mayúscula: uppercase;
$color: white;

* {
    margin: 0px;
    padding: 0px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: space-between;
    background-color: rgb(49, 47, 47);

 .header__logo {
    width: 150px;
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .header__navMenu--texto {
    border: black 2px solid;
    background-color: coral;
    padding: 0.4rem;
    margin: 0.2rem;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: $mayúscula;
    font-size: x-large;
    font-family: "Times New Roman", Times, serif;
    transition: color 2s;
  }
  .header__titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: $mayúscula;
    text-align: center;
    color: $color;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 5px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
  }
  .header__parrafo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: $mayúscula;
    text-align: center;
    color: $color;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 5px;
    font-family:'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
  }
  .cuerpoInicio {
    background-color: #ffebcdbe;
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: initial;
  }
}