.section__imagen {
    width: 800px;
    margin: 30px 3px;
    border: black;
    border-style: solid;
  }
.imagenPrincipal {
    background-image: url(../assets/img/MARTILLO.jpg);
    height: 800px;
    background-image: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }