section {
  padding: 40px;
  background-color: grey;

  .section__titulo2 {
    text-transform: $mayúscula;
    margin: 30px 5px;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    color: rgb(75, 70, 70);
    text-align: center;
  }
  .section__titulo3 {
    text-transform: $mayúscula;
    margin: 30px 5px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(75, 70, 70);
    text-align: center;
  }
  label {
    color: seagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .section__mapa {
    margin-bottom: 2rem;
  }
  .section__parrafo {
    text-transform: initial;
    color: $color;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    text-align: center;
  }
  .section__parrafoAreas {
    font-family: "Times New Roman", Times, serif;
    color: black;
  }
  .section__cards {
    background-color: rgb(218, 214, 214);
  }
  .integrantesEstudio {
    text-transform: initial;
    margin: 30px 5px;
    list-style-type: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color;
  }
  .section__Clientes {
    text-transform: initial;
    color: $color;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    text-align: center;
    margin: 30px 5px;
    font-size: 25px;
  }
  .imagenesContenedor img {
    width: 20rem;
    margin: 30px 3px;
    border: black;
    border-style: initial;
  }
  .imagenesContenedor {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
  }
  @media only screen and(max-width: 590px) {
    .imagenesContenedor img {
      width: 15rem;
    }
  }
  @media only screen and(max-width: 590px) {
    .section__Clientes {
      display: none;
    }
  }
  @media only screen and(max-width: 590px) {
    .imagenesContenedor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  @media only screen and(min-width: 591px) and (max-width: 850px) {
    .imagenesContenedor img {
      width: 15rem;
    }
  }
}
