* {
  margin: 0px;
  padding: 0px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #312f2f;
}

.header .header__logo {
  width: 150px;
  margin-left: 1rem;
  margin-top: 2rem;
}

.header .header__navMenu--texto {
  border: black 2px solid;
  background-color: coral;
  padding: 0.4rem;
  margin: 0.2rem;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  -webkit-transition: color 2s;
  transition: color 2s;
}

.header .header__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
}

.header .header__parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}

.header .cuerpoInicio {
  background-color: #ffebcdbe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

section {
  padding: 40px;
  background-color: grey;
  /* @media only screen and(min-width: 301px) and (min-width: 1024px) {
    .imagenesContenedor {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      justify-content: space-around;
      align-items: center;
      gap: 2rem;
    }
  }
  @media only screen and(min-width: 1200px) {
    .imagenesContenedor {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      justify-content: space-around;
      align-items: center;
      gap: 2rem;
    }
  }*/
}

section .section__titulo2 {
  text-transform: uppercase;
  margin: 30px 5px;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  color: #4b4646;
  text-align: center;
}

section .section__titulo3 {
  text-transform: uppercase;
  margin: 30px 5px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #4b4646;
  text-align: center;
}

section label {
  color: seagreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section .section__mapa {
  margin-bottom: 2rem;
}

section .section__parrafo {
  text-transform: initial;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  text-align: center;
}

section .section__parrafoAreas {
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

section .section__cards {
  background-color: #dad6d6;
}

section .integrantesEstudio {
  text-transform: initial;
  margin: 30px 5px;
  list-style-type: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

section .section__Clientes {
  text-transform: initial;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  text-align: center;
  margin: 30px 5px;
  font-size: 25px;
}

section .imagenesContenedor img {
  width: 200px;
  margin: 30px 3px;
  border: black;
  border-style: initial;
}

section .imagenesContenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

@media only screen and (max-width: 500px) {
  section .imagenesContenedor img {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  section .imagenesContenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section__imagen {
  width: 1000px;
  margin: 30px 3px;
  border: black;
  border-style: solid;
}

.contenedor__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imagenPrincipal {
  background-image: url(../assets/img/MARTILLO.jpg);
  height: 800px;
  background-image: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.legend {
  color: black;
  font-size: 27px;
  padding: 10px;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}

.footer {
  background-color: #312f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer__datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.footer .footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.footer .footer__logo {
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 1rem;
  margin-top: 2rem;
}

@media only screen and (max-width: 550px) {
  .footer .footer__logo {
    display: none;
  }
}

.footer .footer__copy {
  font-family: "Times New Roman", Times, serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 1rem;
}

.footer .datos__contacto {
  text-transform: initial;
  margin: 30px 5px;
  list-style-type: initial;
  text-align: inherit;
  color: whitesmoke;
}

.footer .footer__imagen {
  width: 3rem;
}

.footer .footer i {
  color: coral;
  margin: 0.2rem;
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */